includeConfig 'config/manifest.config' 
includeConfig 'config/genomes.config'
includeConfig 'config/profiles.config'



params {

	today               = System.getenv('TODAY') // set by the wrapper
    results_root_path   = System.getenv('RESULTS_ROOT_PATH')
	my_org_flags_path   = System.getenv('MY_ORG_FLAGS_PATH')
	delivered_path      = System.getenv('DELIVERED_PATH')
	preagg_root_path	= System.getenv('PREAGG_ROOT_PATH')
	snptrace_map_file	= System.getenv('SNPTRACE_MAP_FILE')
	snptrace_files_path	= System.getenv('SNPTRACE_FILES_PATH')
	preagg_flags_path	= System.getenv('PREAGG_FLAGS_PATH')

	sample_cohort_gender_list=""
    dry = (params.dry?params.dry:true) // default is a dry execution, to force user to set it to false
    debug = false

    dragen_preagg_instance_id = "INSTANCE-${today}"
    dragen_preagg_instance_path= "${results_root_path}/${params.dry?"DRY_":""}${dragen_preagg_instance_id}"

    taps_output_folder="${dragen_preagg_instance_path}/TAPS"
    tsv_output_folder="${dragen_preagg_instance_path}/TSV"

	// NXF
	publish_dir_mode	= 'copy'

	// References
	genome_build = 'GRCh38'

	fasta 		 = params.genomes."${genome_build}".fasta
	fasta_idx 	 = params.genomes."${genome_build}".fasta_idx

}

// Load base.config by default for all pipelines
includeConfig 'config/base.config'
